certifi==2018.4.16
chardet==3.0.4
coremltools==2.0b1
decorator==4.3.0
graphviz==0.8.4
idna==2.7
mxnet==1.1.0.post0
numpy==1.22.0
pandas==0.23.1
Pillow==9.0.1
prettytable==0.7.2
protobuf==3.18.3
python-dateutil==2.7.3
pytz==2018.5
requests==2.20.0
six==1.10.0
turicreate==5.0b2
urllib3==1.26.5
